<ion-header>
  <ion-toolbar>
    <ion-title>
      ScalaPro
    </ion-title>
  </ion-toolbar>
  <ion-item>
  <p>Usa los íconos abajo para crear uno de los siguientes articulos:</p>
</ion-item>
</ion-header>

<ion-content>

 <!-- Fixed Floating Action Button that does not scroll with the content -->
  <ion-fab>
    <ion-fab-button color="light" ><ion-icon class="icon" name="add-circle-outline" color="secondary" ></ion-icon></ion-fab-button>
  </ion-fab>

<ion-fab>
    <ion-fab-button color="light" ><ion-icon class="icon" name="add-circle-outline" color="secondary" ></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>


